<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.neungrad.lifebox"
          android:versionCode="1"
          android:versionName="1.0" >

    <uses-sdk
            android:minSdkVersion="15"
            android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera" />

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/LifeBoxTheme">

        <activity
                android:name="de.neungrad.lifebox.ui.SignInActivity"
                android:noHistory="true"
                android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="de.neungrad.lifebox.ui.MainActivity" />

        <activity
                android:name="de.neungrad.lifebox.ui.NoConnectionActivity"
                android:noHistory="true" />

        <activity android:name="de.neungrad.lifebox.ui.MetaFormActivity"/>

        <activity android:name="de.neungrad.lifebox.ui.TagsActivity"/>

        <activity android:name="de.neungrad.lifebox.ui.HashtagsActivity"
                  android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity android:name="de.neungrad.lifebox.ui.SearchMovieActivity"/>
        <activity android:name="de.neungrad.lifebox.ui.SearchMusicActivity"/>
        <activity android:name="de.neungrad.lifebox.ui.TextFormActivity"
                  android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name="de.neungrad.lifebox.ui.TimelineDetailActivity"/>
        <activity android:name="de.neungrad.lifebox.ui.TimelineDetailTextActivity"/>
        <activity android:name="de.neungrad.lifebox.ui.TimelineDetailFileImageActivity"/>
        <activity android:name="de.neungrad.lifebox.ui.TimelineDetailMovieActivity"/>
        <activity android:name="de.neungrad.lifebox.ui.TimelineDetailMusicActivity"/>
        <activity android:name="de.neungrad.lifebox.ui.TimelineDetailFileVideoActivity"/>
        <activity android:name="de.neungrad.lifebox.ui.FilterActivity"/>
        <activity android:name="de.neungrad.lifebox.ui.FilterHashtagsActivity"/>

        <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="SelectTypeActivity" />

        <service android:name="de.neungrad.lifebox.service.UploadService"
                 android:exported="false" />

        <service android:name="de.neungrad.lifebox.service.SearchService"
                 android:exported="false" />

        <service android:name="de.neungrad.lifebox.service.TimelineReloadService"
                 android:exported="false" />

        <service android:name="de.neungrad.lifebox.service.BackupDbService"
                 android:exported="false" />

        <service android:name="de.neungrad.lifebox.service.TimelineFilteredReloadService"
                 android:exported="false" />

    </application>
</manifest>
