<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.lifebox.LifeBox"
          android:versionCode="1"
          android:versionName="1.0" >

    <uses-sdk
            android:minSdkVersion="15"
            android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera" />

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/LifeBoxTheme">

        <activity
                android:name=".SignInActivity"
                android:noHistory="true"
                android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />

        <activity
                android:name=".NoConnectionActivity"
                android:noHistory="true" />

        <activity android:name=".MetaFormActivity"/>

        <activity android:name=".TagsActivity"/>

        <activity android:name=".HashtagsActivity"
                  android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity android:name=".SearchMovieActivity"/>
        <activity android:name=".SearchMusicActivity"/>
        <activity android:name=".TextFormActivity"
                  android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".TimelineDetailActivity"/>
        <activity android:name=".TimelineDetailTextActivity"/>
        <activity android:name=".TimelineDetailFileImageActivity"/>
        <activity android:name=".TimelineDetailMovieActivity"/>
        <activity android:name=".TimelineDetailMusicActivity"/>
        <activity android:name=".TimelineDetailFileVideoActivity"/>
        <activity android:name=".FilterActivity"/>
        <activity android:name=".FilterHashtagsActivity"/>

        <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="SelectTypeActivity" />

        <service android:name=".UploadService"
                 android:exported="false" />

        <service android:name=".SearchService"
                 android:exported="false" />

        <service android:name=".TimelineReloadService"
                 android:exported="false" />

        <service android:name=".BackupDbService"
                 android:exported="false" />

        <service android:name=".TimelineFilteredReloadService"
                 android:exported="false" />

    </application>
</manifest>
